.container {
    background-image: url(../rad_check/slide-general.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    width: 300px;
    height: 400px;
    margin: 100px;
    padding: 20px;
    background-color: #9bd9e5;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #171717;
  }

  input[type="password"],
  input[type="email"],
  input[type="text"]{
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px ;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #151915;
  }

  input[type="radio"] {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  
  input[type="radio"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }